{{ with .Parent -}}
  {{ partial "main/breadcrumb.html" . -}}
  <li class="breadcrumb-item"><a href="{{ .RelPermalink }}">{{ if .IsHome }}{{i18n "home"}}{{ else if eq .CurrentSection .FirstSection }}{{ .Section | humanize }}{{ else }}{{ .Title }}{{ end }}</a></li>
{{ end -}}
